<!-- Section #1 -->
<section id="home" data-speed="3" data-type="background">
  <div class="main-title">Anuj Jhunjhunwala</div>
  <div class="navbar">
    <div class="navbar-link home-link">TOP</div>
    <div class="navbar-link about-link">ABOUT</div>
    <div class="navbar-link portfolio-link">PORTFOLIO</div>
    <div class="navbar-link contact-link">CONTACT</div>
  </div>
</section>