<!-- Section #2 -->
<section id="about" data-speed="4" data-type="background">
  <div class="fixed-title about-fixed">About</div>
  <div class="about-main">
    <span class="greeting">Hello.</span></br></br>
    <span class="sub-greeting">My name is Anuj. I am a New York-based web developer.</span><br><br>
    <span class="about-main-text">I recently co-founded <a href="http://www.pareup.com">PareUp</a>, a startup that allows food vendors to sell their excess food inventory to everyday consumers at a discount. Before PareUp, I was a project manager at <a href="http://www.tinypass.com">Tinypass</a>, a SaaS solution that helps digital publishers monetize their content. <br><br>In 2013, I graduated from General Assembly's Web Development Immersive program, where I learned the basics of how to use Ruby, Rails, JavaScript, and other technologies to make beautiful web-based applications.</span><br><br>
    <div class="row-container">
      <div class="about-detail">
        <span class="about-detail-header">Background</span><br>
        <hr>
        Before I got into web development, I worked in finance, first in investment banking and then as an analyst at a New York-based hedge fund.<br><br>I graduated from Columbia University with a degree in Economics-Political Science in 2011.
      </div>
      <div class="about-detail">
        <span class="about-detail-header">Things I Enjoy</span><br>
        <hr>
        In no particular order: traveling, making & drinking a strong cup of coffee, reading nonfiction, obsessively Wikipedia-ing the world, and watching the New Orleans Saints
      </div>
      <div class="about-detail skills">
        <span class="about-detail-header">Skills</span><br><hr>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>AJAX</li>
          <li>PostgreSQL</li>
          <li>HTML5 & CSS3</li>
          <li>GitHub</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </div>
</section>