<!-- section #4 -->
<section id="contact" data-speed="10" data-type="background">
  <div class="fixed-title contact-fixed">Contact</div>
  <div class="contact-main">
    <span class="greeting">Let's talk.</span>
    <span class="icons">
      <a href="http://linkedin.com/in/jhunjhunwala7/" name="Linkedin" target="_blank" class="contact_icons">
        <i class="icon-linkedin-sign icon-4x"></i>
      </a>
      <a href="http://github.com/aj2w/" name="Github" target="_blank" class="contact_icons">
        <i class="icon-github-alt icon-4x"></i>
      </a>
      <a href="http://twitter.com/aj2w/" name="Twitter" target="_blank" class="contact_icons">
        <i class="icon-twitter icon-4x"></i>
      </a>
      <a href="http://angel.co/aj2w/" name="Twitter" target="_blank" class="contact_icons">
        <i class="icon-bolt icon-4x"></i>
      </a>
      <a href="mailto:anuj.jhunjhunwala@gmail.com" name="Email" target="_blank" class="contact_icons email">
        <img src="/assets/email.svg" width="50px"/>
      </a>
    </span>
  </div>
</section>