<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Anuj Jhunjhunwala</title>
  <meta name="description" content="web developer">
  <meta name="author" content="Anuj Jhunjhunwala">
</head>

<body>
  <!-- Section #1 -->
  <section id="home" data-speed="3" data-type="background">
    <div class="main-title">Anuj Jhunjhunwala</div>
    <div class="navbar">
      <div class="navbar-link home-link">HOME</div>
      <div class="navbar-link about-link">ABOUT</div>
      <div class="navbar-link portfolio-link">PORTFOLIO</div>
      <div class="navbar-link contact-link">CONTACT</div>
      <!-- <div class="navbar-link blog-link">BLOG</div> -->
    </div>
  </section>

  <!-- Section #2 -->
  <section id="about" data-speed="4" data-type="background">
    <div class="fixed-title about-fixed">About</div>

    <div class="about-main">
      <span class="greeting">Hello.</span></br></br>
      <span class="sub-greeting">My name is Anuj. I am a New York-based web developer.</span><br><br>
      <span class="about-main-text">I recently graduated from General Assembly's Web Development Immersive program, where I learned the basics of how to use Ruby, Rails, JavaScript, and other technologies to make beautiful web-based applications.</span><br><br>
      <span class="about-main-text">Have a look around, and please do contact me if you would like to work together.</span> <br><br></br>

      <div class="about-detail">
        <span class="about-detail-header">Background</span><br>
        <hr>
        Before I got into web development, I worked in finance, first in investment banking and then as an analyst at a New York-based hedge fund.<br><br>I graduated from Columbia University with a degree in Economics-Political Science in 2011.
      </div>

      <div class="about-detail">
        <span class="about-detail-header">Passions</span><br>
        <hr>
        I drink coffee for the taste, not just for the caffeine kick. I enjoy traveling almost as much as I enjoy geeking out about the airplane I'm traveling on. I read Wikipedia for fun. I believe in the New Orleans Saints.
      </div>

      <div class="about-detail skills">
        <span class="about-detail-header">Skills</span><br><hr>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>AJAX</li>
          <li>PostgreSQL</li>
          <li>HTML5 & CSS3</li>
          <li>GitHub</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Section #3 -->
  <section id="portfolio" data-speed="10" data-type="background">
    <div class="fixed-title portfolio-fixed">Portfolio</div>

    <div class="portfolio-main">
      <span class="greeting shadow">Track</span><br>
      <a class="project-links shadow" href="http://trackmta.herokuapp.com">http://trackmta.herokuapp.com</a>
      <div class="track-image-container">
        <img src="/assets/track.jpg" class="screenshots"/>
      </div>
      <div class="track-second-image-container">
        <img src="/assets/track2.jpg" class="screenshots"/>
      </div>
      <div class="rubyonrage-text">
        <span class="portfolio-main-text"><br>An app that allows users to set up personalized, train-specific service status alerts for the NYC subway system. Alerts are sent to users at the time specified, and will contain any specific delay-related information posted on the MTA.info website. <br><br>Example: a user takes the NQR train every day at 9:00 AM. The user sets up an alert called "Morning commute" for the NQR at 8:30 AM. Every day at 8:30 AM, the user will receive an email stating the real-time service status of the NQR train as per the MTA website.<br><br>The app uses Nokogiri to scrape the MTA service status API every 10 minutes, and uses Sendgrid to email users their specified alerts.</span><br><br><br>
        <span class="portfolio-main-text">Technologies Used:
          <ul>
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>AJAX</li>
            <li>jQuery</li>
            <li>Nokogiri</li>
            <li>Devise</li>
            <li>Sanitize</li>
            <li>Heroku Scheduler</li>
          </ul></span>
        </div><br><br><br>

        <hr class="portfolio-division">


        <span class="greeting shadow">Ruby on Rage</span><br>
        <a class="project-links shadow" href="http://rubyonrage.herokuapp.com">http://rubyonrage.herokuapp.com</a>
        <div class="rubyonrage-image-container">
          <img src="/assets/rubyonrage_updated.jpg" class="screenshots"/>
        </div>
        <div class="rubyonrage-second-image-container">
          <img src="/assets/rubysingle_updated.jpg" class="screenshots"/>
        </div>
        <div class="rubyonrage-text">
          <span class="portfolio-main-text"><br>A multiplayer Tetris-like game in which users can play in real-time with other online players. <br><br>The game utilizes Pusher, an API that allows for the creation of WebSockets in which game data can be streamed to any another player logged in at the time, regardless of location.<br><br>The game also features a single-player mode.</span><br><br><br>
          <span class="portfolio-main-text">Technologies Used:
            <ul>
              <li>Ruby on Rails</li>
              <li>JavaScript</li>
              <li>AJAX</li>
              <li>jQuery</li>
              <li>Pusher API</li>
              <li>BCrypt</li>
            </ul></span>
            <br>
            <br>
            <span class="partnership shadow">Produced in partnership with Thomas Y. Yu</span>
          </span>
        </div><br><br><br>

        <hr class="portfolio-division">

        <span class="greeting shadow">Streetside_Bites</span></br>
        <a class="project-links shadow" href="http://streetsidebites.herokuapp.com">http://streetsidebites.herokuapp.com</a>
        <div class="streetside-image-container">
          <img src="/assets/streetside_updated.jpg" class="screenshots"/>

        </div>
        <div class="rubyonrage-text">
          <span class="portfolio-main-text"><br>A street vendor reviewing website that allows users to upload and find vendors in their area.<br><br>The app has an integrated Google Map gem that allows vendors stored in the database to appear based on a location entered. The app also allows users to browse by food.</span><br><br><br>
          <span class="portfolio-main-text">Technologies Used:
            <ul>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Google Maps</li>
              <li>BCrypt</li>
            </ul></span>
          </div>
        </div>

      </section>

      <!-- section #4 -->
      <section id="contact" data-speed="10" data-type="background">
        <div class="fixed-title contact-fixed">Contact</div>

        <div class="contact-main">
          <span class="greeting">Let's talk.</span>
          <span class="icons">
            <a href="http://linkedin.com/in/jhunjhunwala7/" name="Linkedin" target="_blank" class="contact_icons"><i class="icon-linkedin-sign icon-4x"></i></a>
           <a href="http://github.com/aj2w/" name="Github" target="_blank" class="contact_icons"><i class="icon-github-alt icon-4x"></i></a>
           <a href="http://twitter.com/aj2w/" name="Twitter" target="_blank" class="contact_icons"><i class="icon-twitter icon-4x"></i></a>
           <a href="http://angel.co/aj2w/" name="Twitter" target="_blank" class="contact_icons"><i class="icon-bolt icon-4x"></i></a>
           <a href="mailto:anuj.jhunjhunwala@gmail.com" name="Email" target="_blank" class="contact_icons email"><img src="/assets/email.svg" width="50px"/></a>

          </span>
        </div>
      </section>

    </body>
<script>
  // GOOGLE ANALYTICS
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43648984-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
// END GOOGLE ANALYTICS
</script>
    </html>
