body{
  margin:0;
  padding:0;
}

/*First display window*/
#home {
  background: url(abstract_newyork_updated.jpg) 50% 0 no-repeat fixed;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/*Second display window*/
#about {
  background: url(about_updated.jpg) 50% 0 no-repeat fixed;
  height: 900px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/*Third display window*/
#portfolio {
  background: url(portfolio_updated.jpg) 50% 0 no-repeat fixed;
  height: 1400px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

/*Fourth display window*/
#contact {
  background: url(contact_updated.jpg) 50% 0 no-repeat fixed;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  /*max-width: 1920px;*/
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Name */
.main-title {
  height: 100px;
  width: 700px;
  float: left;
  margin-left: 600px;
  margin-top: 400px;
  text-align: center;
  font-family: 'Fjord One', serif;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px #000000;
}

/*Navbar*/
.navbar {
  z-index: 1000;
  position: fixed;
  text-align: center;
  margin-top: 0;
  height: 30px;
  color: #5c5050;
  line-height: 2.3;
  font-weight: 550;
    font-family: 'Lato', sans-serif;
}

.navbar-link {
  position: fixed;
  width: 100px;
  /*background-color:rgba(255,230,0,0.7);*/
  background: white;
}

.home-link {
  margin-left: 45px;
  width: 60px;
  visibility: hidden;
}

.about-link {
  margin-left: 105px;
  width: 65px;
}

.portfolio-link {
  margin-left: 170px;
  width: 90px;
}

.contact-link {
  margin-left: 260px;
  width: 85px;
}

.blog-link {
  margin-left: 345px;
  width: 60px;
}


/*Fixed header title (rotated 90 degrees)*/
.fixed-title{
  color:white;
  font-family: 'Fjord One', serif;
  font-size: 45px;
  position: absolute;
  right: 0;
  top: 65px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*About title*/
.about-fixed {
  /*nothing in here yet*/
}

/*Portfolio title*/
.portfolio-fixed {
  margin-top: 35px;
  margin-right: -25px;
}

/*Contact title*/
.contact-fixed {
  margin-top: 35px;
  margin-right: -12px;
}

/*About section's text box*/
.about-main {
  height: 600px;
  width: 1050px;
  position: absolute;
  left: 140px;
  top: 90px;
  background-color:rgba(237,24,24,0.5);
  padding: 45px;
  color: white;
  /*text-shadow: 1px 1px #5c5050;*/
}

/*About page greeting*/
.greeting {
  font-size: 55px;
  font-family: 'Lato', sans-serif;
}

/*About page slogan*/
.sub-greeting {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}

.about-detail {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin: 40px;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}

.skills {
  width: 100px;
  /*margin-left: 40px;*/
}

.about-detail-header {
  font-size: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.about-main-text {
 font-size: 25px;
 font-family: 'Lato', sans-serif;
}

/*Portfolio section*/

.portfolio-main {
  height: 1175px;
  width: 1050px;
  position: relative;
  left: 140px;
  top: 90px;
  background-color:rgba(94,94,94,0.5);
  /*font-size: 30px;*/
  padding: 45px;
  color: white;
  /*text-shadow: 1px 1px #5c5050;*/
}

.shadow {
 text-shadow: 1px 1px #5c5050;
}

.rubyonrage-image-container {
  /*background: pink;*/
  width: 500px;
  position: absolute;
  right: 110px;
  top: 50px;
}

.rubyonrage-second-image-container {
  /*background: pink;*/
  width: 500px;
  position: absolute;
  right: 110px;
  top: 390px;
}
.rubyonrage-text {
  width: 430px;
}

.project-links {
  text-decoration: none;
  color: white;
 font-size: 20px;
 line-height: 2;
 font-family: 'Lato', sans-serif;

}

.portfolio-main-text {
 font-size: 17px;
 line-height: 1.5;
 font-family: 'Lato', sans-serif;
 text-shadow: 1px 1px #5c5050;
}

.partnership {
  font-size: 15px;
}

.screenshots {
  width: 600px;
  margin-right: 20px;
  /*border: 1px solid white;*/
  /*display: inline-block;*/
}

.portfolio-division {
  width: 1000px;
  height: 4px;
}

.streetside-image-container {
  /*background: pink;*/
  width: 500px;
  position: absolute;
  right: 110px;
  top: 760px;
}

/*Contact section*/
.contact-main {
  height: 75px;
  width: 1000px;
  position: absolute;
  left: 140px;
  top: 90px;
  background-color:rgba(237,24,24,0.5);
  padding: 45px;
  color: white;
  /*text-shadow: 1px 1px #5c5050;*/
}

.icons {
  margin-left: 600px;
}
